<%- model_class = Home -%>
<div class="page-header">
  <h1>Welcome</h1>
</div>


<p>Welcome to the online searchable interface to the Network Rail Working Time Tables.</p>

<p>We always welcome support from users to add routes and services to our database, so please feel free to sign up and contribute</p>

<p>If you know what you are looking for, please select from the menu at the top of the screen and start searching!</p>
